*.docx
*.pdf
*.zip
*.wlf
*.qpg
*.qtl
*.qmsg
*.rdb
*.ddb
*.xml
*.bpm
*.idb
*.logdb
*hdb
*.cdb

*.qws
*.qsf
*.qdf
*.bak
*.qdp
*.qdb
*.mti
*.mpf
*transcript
*_vmake
*_info
*.qpf
*.kpt
*.hsd
*.hif
*.html
*.txt
*.ammdb
*.nvd
*.sci
*.tdb
*.json
*.dfp
*.rcfdb
*.dpi
*.sig
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sof
*.sft
*.sld
*.xrf
*.tdf
*.vo
*.out1
*.out

